In [1]:
import pandas as pd
import numpy as np

In [2]:
reviews = pd.read_excel('tripadvisor.xlsx', 'reviews', index=False, na_values=['NA'])
reviews = reviews.drop(["id","date",'title','text','helpfulness','total_points'],axis=1)
reviews.head()

,username,type,rating,taObject,taObjectUrl,taObjectCity
0,007solotraveler,Hotels,4,"Radisson Blu Royal Viking Hotel, Stockholm",http://www.tripadvisor.com/Hotel_Review-g18985...,Stockholm
1,007solotraveler,Hotels,5,Radisson Blu Waterfront Hotel,http://www.tripadvisor.com/Hotel_Review-g18985...,Stockholm
2,007solotraveler,Attractions,5,Vasa Museum,http://www.tripadvisor.com/Attraction_Review-g...,Stockholm
3,007solotraveler,Hotels,4,Hilton Miami Airport,http://www.tripadvisor.com/Hotel_Review-g34438...,Miami
4,007solotraveler,Restaurants,5,Hunter Steakhouse,http://www.tripadvisor.com/Restaurant_Review-g...,San Diego

In [3]:
selected = reviews[reviews['type'] == 'Hotels'].index.tolist()
reviews = reviews.drop(selected)

In [4]:
reviews['taObjectCity'].value_counts()

London                  613
New York City           470
Las Vegas               216
Paris                   183
Chicago                 170
Rome                    153
San Francisco           129
Orlando                 129
Singapore               123
Sydney                  118
Washington DC           113
Edinburgh               101
Barcelona                98
Honolulu                 96
San Diego                89
Toronto                  87
Seattle                  85
New Orleans              78
Dublin                   78
Dubai                    76
Amsterdam                73
Boston                   67
Hong Kong                66
Madrid                   65
Berlin                   64
Cardiff                  62
Vancouver                60
Istanbul                 59
Los Angeles              58
Manchester               55
                       ...
Aughrim                   1
Cirkewwa                  1
Ras Al Khaimah            1
Ercolano                  1
Nuevo Vallarta            1
Porto Alegre              1
Neston                    1
Arradon                   1
Clinton                   1
Hualapai Reservation      1
Sint-Martens-Latem        1
Burbank                   1
Helmsley                  1
South Molton              1
Harrow                    1
Llandudno                 1
Bromma                    1
Killylea                  1
Pound Ridge               1
White Stone               1
Pahoa                     1
Aljezur                   1
South Shields             1
Mill Run                  1
Morro Bay                 1
Saint-Denis               1
Collingswood              1
Chepstow                  1
La Tania                  1
Pyongyang                 1
Name: taObjectCity, dtype: int64

In [5]:
london = reviews[reviews['taObjectCity'] == 'London']
barcelona = reviews[reviews['taObjectCity'] == 'Barcelona']
madrid = reviews[reviews['taObjectCity'] == 'Madrid']
hamburg = reviews[reviews['taObjectCity'] == 'Hamburg']
names = ["London","Barcelona","Madrid","Hamburg"]

rowCount = [len(london), len(barcelona),len(madrid),len(hamburg)]
userCount = [len(london.username.unique()),len(barcelona.username.unique()),len(madrid.username.unique()),len(hamburg.username.unique())]
itemCount = [len(london.taObject.unique()),len(barcelona.taObject.unique()),len(madrid.taObject.unique()),len(hamburg.taObject.unique())]
d = {'Cities':pd.Series(names), 'TotalRatings':rowCount, 'Users':pd.Series(userCount), 'Objects':itemCount}
df = pd.DataFrame(d)
df

      Cities  Objects  TotalRatings  Users
0     London      475           613    204
1  Barcelona       76            98     40
2     Madrid       48            65     25
3    Hamburg       18            18      6

In [22]:
def function(key):
    return names.get(key)+1000

barcelona = reviews[reviews['taObjectCity'] == 'Barcelona']
barcelona.reset_index(inplace=True)
del barcelona['index']
names = barcelona.username.values.ravel()
names = pd.unique(names)
names = pd.Series(np.arange(len(names)), names)

#barcelona['userId'] = barcelona['username'].apply(function)

In [23]:
barc_rating = barcelona[['username','taObject','rating']]
barc_rating = barc_rating.rename(columns={"taObject":"objectName"})
barc_rating.index.name = "index"
barc_rating.head()

            username                       objectName  rating
index
0               2093                       Park Guell       3
1               2093                         Camp Nou       4
2               2093  Basilica of the Sagrada Familia       5
3      23stationroad         Rental Scooter Barcelona       5
4      23stationroad                      Palau Guell       5

In [24]:
barc_rating.sort_values('objectName')

,username,objectName,rating
index,,,
20,Almousa,7 Portes,5
41,Bongo_Craigy,A Gianni,3
48,CanadaMatt,ABaC Restaurant,4
90,EssexBarnes,Agua,4
52,Catty140,Attic Restaurant,5
91,FLLtourist,Bar Lobo,4
16,Albuq1,Barcelona Bus Turistic,5
33,Backfixer,Basilica of the Sagrada Familia,5
46,Bongo_Craigy,Basilica of the Sagrada Familia,5
50,CathP,Basilica of the Sagrada Familia,5
32,BabsLimerick_Ireland,Basilica of the Sagrada Familia,5
54,Catty140,Basilica of the Sagrada Familia,4
8,2teeth,Basilica of the Sagrada Familia,5
92,FLLtourist,Basilica of the Sagrada Familia,5
2,2093,Basilica of the Sagrada Familia,5
57,Chilla,Bestial,3
45,Bongo_Craigy,Betlem Miscel.lania Gastronomica,5
89,Ervaan,Boca Grande,3
15,AhmetD,Botafumeiro,5
59,ChrisG1956,BrightSide,5
76,Des_Gruntled,Cafe Nou Kamel,4
1,2093,Camp Nou,4
29,BabsLimerick_Ireland,Camp Nou,5
62,Chris_Sandeman,Can Paixano (La Xampanyeria),1
85,Ervaan,Canela Restaurant,1
51,CathP,Casa Batllo,4
43,Bongo_Craigy,Casa Batllo,3
34,Baidoo,Casa Batllo,5
97,FLLtourist,Casa Batllo,5
5,23stationroad,Casa Batllo,5
...,...,...,...
0,2093,Park Guell,3
44,Bongo_Craigy,Park Guell,4
53,Catty140,Park Guell,5
80,Des_Gruntled,Passeig de Gracia,4
64,Chris_Sandeman,Pim Pam Burger,2
35,Beeffinder,Piscolabis,4
55,Celeste598,Piscolabis,5
17,Alfanumeric,Pizza Emporio,2
72,DCMontreal,Port Vell,4
3,23stationroad,Rental Scooter Barcelona,5
95,FLLtourist,Restaurant La Poma,4
22,AngelaBax,Restaurant Man Go,3
75,Des_Gruntled,Restaurante Pizeria Milano,3
73,DCMontreal,Restaurante Salamanca II,4
11,AcerLeeds,Restaurante Sesamo,5
18,Alfanumeric,Rossini,3
10,AcerLeeds,Rossini,1
86,Ervaan,Sauc,5
60,ChrisG1956,Spanish Civil War Tour,5
38,Bolotet,Swagatam Bar-Restaurant Hindu,5
21,Andrey_Buzin,Syrah,5
24,AngelaBax,Taller de Tapas - Rambla Catalunya,4
14,AhmetD,Tapa Tapa,3
82,Des_Gruntled,Tapas & Beer,2
69,Christofofofof,Tapas 24,4
42,Bongo_Craigy,Tapeo,4
39,Bondsammax,The Museum of the History of Barcelona - MUHBA,4
81,Des_Gruntled,Tibidabo Mountain,4
63,Chris_Sandeman,Tlaxcal,2
83,Des_Gruntled,Txapela,3

In [25]:
barc_rating.objectName.value_counts()

Basilica of the Sagrada Familia                   8
Casa Batllo                                       7
Park Guell                                        4
Magic Fountain (Font Magica)                      3
Rossini                                           2
Gothic Quarter (Barri Gotic)                      2
Piscolabis                                        2
Camp Nou                                          2
Boca Grande                                       1
Bar Lobo                                          1
Casa Guinart                                      1
Kiosko Gourmet Burger                             1
La Cuina d'en Garriga                             1
Les Quinze Nits                                   1
A Gianni                                          1
Txapela                                           1
Restaurante Pizeria Milano                        1
Canela Restaurant                                 1
Tlaxcal                                           1
La Paradeta                                       1
Agua                                              1
Cera 23                                           1
Swagatam Bar-Restaurant Hindu                     1
Moritz                                            1
Mi Gracia                                         1
Rental Scooter Barcelona                          1
Restaurant La Poma                                1
Tapa Tapa                                         1
Syrah                                             1
Dos Palillos                                      1
                                                 ..
The Museum of the History of Barcelona - MUHBA    1
Palau Guell                                       1
La Rambla                                         1
Glaciar                                           1
Taller de Tapas - Rambla Catalunya                1
Attic Restaurant                                  1
Pizza Emporio                                     1
Tibidabo Mountain                                 1
Tapas 24                                          1
7 Portes                                          1
Joan Antonio Samaranch Olympic & Sports Museum    1
Hisop                                             1
Tapas & Beer                                      1
El Vaso de Oro                                    1
Botafumeiro                                       1
Port Vell                                         1
Food Lover Tour                                   1
Las Ramblas                                       1
Barcelona Bus Turistic                            1
Las Mananitas                                     1
Bestial                                           1
Restaurante Salamanca II                          1
Gaudi House Museum                                1
La Pedrera                                        1
Parc de Montjuic                                  1
GLOW BAR                                          1
Olympic Stadium                                   1
Restaurant Man Go                                 1
Restaurante Sesamo                                1
Can Paixano (La Xampanyeria)                      1
Name: objectName, dtype: int64

In [26]:
barc_rating = barc_rating[barc_rating['objectName'].isin(['Basilica of the Sagrada Familia','Casa Batllo','Park Guell', 'Magic Fountain (Font Magica)', 'Piscolabis', 'Camp Nou', 'Palau Guell', 'Parc de Montjuic','Restaurante Sesamo','Rossini'])]
barc_rating.objectName.value_counts()

Basilica of the Sagrada Familia    8
Casa Batllo                        7
Park Guell                         4
Magic Fountain (Font Magica)       3
Camp Nou                           2
Rossini                            2
Piscolabis                         2
Restaurante Sesamo                 1
Palau Guell                        1
Parc de Montjuic                   1
Name: objectName, dtype: int64

In [17]:
barc_rating.to_csv("original_ratings.csv", index=False, header = False)